<div class="topbar">


    <div class="global-search">


        <i>
            🔍
        </i>


        <input
            id="globalSearch"
            placeholder="
            Buscar expediente, actor, oficio...
            "
        >


    </div>





    <div class="topbar-actions">



        <button 
            class="icon-button"
        >

            🔔


            <span 
                class="notification-dot">
            </span>


        </button>





        <div class="user">


            <div class="avatar">

                JP

            </div>




            <div class="user-info">


                <strong>
                    Juan Pérez
                </strong>


                <span>
                    Administrador
                </span>


            </div>


        </div>



    </div>



</div>