<aside class="sidebar">

    <!-- MARCA -->

    <div class="brand">

        <div class="brand-icon">
            <i class="fa-solid fa-scale-balanced"></i>
        </div>

        <div class="brand-text">

            <h2>
                Tribunal
            </h2>

            <span>
                Gestión jurídica
            </span>

        </div>

    </div>


    <!-- NAVEGACIÓN -->

    <nav class="nav">

        <button
            type="button"
            class="nav-item active"
            data-page="dashboard"
        >
            <i class="fa-solid fa-house"></i>
            <span>Inicio</span>
        </button>


        <button
            type="button"
            class="nav-item"
            data-page="expedientes"
        >
            <i class="fa-solid fa-folder-open"></i>
            <span>Expedientes</span>
        </button>


        <button
            type="button"
            class="nav-item"
            data-page="demandas"
        >
            <i class="fa-solid fa-file-signature"></i>
            <span>Demandas</span>
        </button>


        <button
            type="button"
            class="nav-item"
            data-page="amparos"
        >
            <i class="fa-solid fa-shield-halved"></i>
            <span>Amparos</span>
        </button>


        <button
            type="button"
            class="nav-item"
            data-page="exhortos"
        >
            <i class="fa-solid fa-arrow-right-arrow-left"></i>
            <span>Exhortos</span>
        </button>


        <button
            type="button"
            class="nav-item"
            data-page="promociones"
        >
            <i class="fa-solid fa-file-lines"></i>
            <span>Promociones</span>
        </button>


        <button
            type="button"
            class="nav-item"
            data-page="oficios"
        >
            <i class="fa-solid fa-envelope-open-text"></i>
            <span>Oficios</span>
        </button>

        <button
            type="button"
            class="nav-item"
            data-page="catalogos"
        >
            <i class="fa-solid fa-list"></i>
            <span>Catálogos</span>
        </button>


        <button
            type="button"
            class="nav-item"
            data-page="historico"
        >
            <i class="fa-solid fa-clock-rotate-left"></i>
            <span>Resumen Histórico</span>
        </button>

    </nav>


    <!-- PARTE INFERIOR -->

    <div class="sidebar-bottom">

        <button
            type="button"
            class="nav-item"
        >
            <i class="fa-solid fa-gear"></i>
            <span>Configuración</span>
        </button>


        <button
            type="button"
            class="nav-item"
        >
            <i class="fa-solid fa-right-from-bracket"></i>
            <span>Cerrar sesión</span>
        </button>

    </div>

</aside>